@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Roboto Condensed', sans-serif;
}

body {
    background-color: darkgray;
}

#container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

h1 {
    flex-basis: 100%;
    text-align: center;
    font-size: 5rem;
}

h1 + p {
    font-size: 2.5rem;
}

#container2 {
    display: flex;
    justify-content: center;
    padding: 25rem;
}

input[type=text] {
    width: 25%;
    height: 5rem;
    border-radius: 5rem 0 0 5rem;
    box-shadow: 0.5rem 0.5rem 0.5rem 0.2rem rgba(0, 0, 0, 0.31);
}

input[type=submit] {
    width: 10%;
    border-radius: 0 5rem 5rem 0;
    box-shadow: 0.5rem 0.5rem 0.5rem 0.2rem rgba(0, 0, 0, 0.31);
    font-size: 2.5rem;
}

#container3 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;align-items: center;
}

#previous {
    font-size: 2.5rem;
    flex-basis: 60%;
}

#guess {
    flex-basis: 60%;
    font-size: 2.5rem;
}

#guess_last {
    color: white;
}